div.slideshowWindow{
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  width:100%;
  height:auto;
  border-radius: 30px;
}

div.bigSlideshow{
  text-align: center;
  max-width: 500px;
  max-height: 300px;
  height: auto;
  margin: auto;
  margin: auto;
  position: relative;
}

div.smallSlideshow{
  text-align: center;
  max-width: 250px;
  max-height: 150px;
  margin: auto;
  position: relative;
}

.mediasContainer{
  display: inline-flex;
  height: inherit;
  overflow: hidden;
  position: relative;
  transition: transform 2s;
  transform: translateX(0px);
}

.mediaContainer{
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin: auto;
}
div.bigSlideshow div.mediaContainer{
  height:300px;
  width: 500px;
  overflow: hidden;
  margin: auto;

}
div.smallSlideshow div.mediaContainer{
  height: 150px;
  width: 250px;

}


.slideshowMedia{
  transition: .5s ease;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
}
.mediaContainer{
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin: auto;
}
.pieceMediaContainer{
  border-radius: 30px;
  overflow: hidden;
  float:left;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}
.twoMedias .pieceMediaContainer{
  width: 50%;
}
.media{

  transition: .5s ease;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
}
.textOverContainer{
  border-radius: 30px;
  bottom: 0px;
  color: black;
  border: 1px black solid;
  background-color: white;
  position: absolute;
  transition: .5s ease;
  text-align: center;
  opacity: 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 3%;
  word-wrap: break-word;
}

.pieceMediaContainer:hover .textOverContainer {
  opacity: 1;
}
.pieceMediaContainer:hover .media{
  opacity: 0.4;
}

.bigSlideshow div.translate{
  text-align: center;
  vertical-align: middle;
  position: absolute;
  box-sizing: content-box;
  border-radius:10px;
  background-color: white;
  opacity: 0.5;
  min-width: 50px;
  min-height: 50px;
  height: auto;
  width: auto;
  top: 42%;
  cursor: pointer;
}

.smallSlideshow div.translate{
  text-align: center;
  vertical-align: middle;
  position: absolute;
  box-sizing: content-box;
  border-radius:10px;
  background-color: white;
  opacity: 0.5;
  min-width: 30px;
  min-height: 30px;
  height: auto;
  width: auto;
  top: 42%;
  cursor: pointer;
}

div.right{
  right: 0px;
}
div.left{
  left: 0px;
}

.bigSlideshow .translate span{
  font-size: 3em;
  text-family: "bold";
}

.smallSlideshow .translate span{
  font-size: 2em;
  text-family: "bold";
}

.left{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.right{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
