div.slideshowWindow{
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  width:100%;
  height:auto;
  margin:auto;
  border-radius: 30px;
}

div.bigSlideshow{
  text-align: center;
  max-width: 500px;
  height: auto;
  margin: auto;
}

div.bigSlideshow div.mediasContainer{
  display: inline-flex;
  overflow: hidden;
  max-width: 1500px;
  transition: transform 2s;
}
div.bigSlideshow div.mediaContainer{
  max-height:300px;
  max-width: 500px;
  background-color: black;
  border-radius: 30px;
  overflow: hidden;
}
div.bigSlideshow .slideshowMedia{
  max-width: 500px;
  position: inherit;
  display: block;
  transition: .5s ease;
}

div.smallSlideshow{
  text-align: center;
  max-width: 250px;
  height: auto;
  margin: auto;
}
div.smallSlideshow div.mediasContainer{
  display: inline-flex;
  overflow: hidden;
  max-width:2000px;
  transition: transform 2s;
}
div.smallSlideshow div.mediaContainer{
  max-height: px;
  max-width: 250px;
  background-color: black;
  border-radius: 30px;
  overflow: hidden;
}
div.smallSlideshow .slideshowMedia{
  max-width: 250px;
  position: inherit;
  display: block;
  transition: .5s ease;
}

.textOverContainer{
  border-radius: 30px;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  border: 1px black solid;
  background-color: white;
  position: absolute;
  transition: .5s ease;
  text-align: center;
  opacity: 0;
  padding-left: 1em;
  padding-right: 1em;
}
.mediaContainer:hover .textOverContainer {
  opacity: 1;
}
.mediaContainer:hover .slideshowMedia{
  opacity: 0.4;
}

div.translate{
  text-align: center;
  vertical-align: middle;
  position: absolute;
  box-sizing: content-box;
  border-radius:10px;
  background-color: white;
  opacity: 0.5;
  min-width: 50px;
  min-height: 50px;
  height: auto;
  width: auto;
  top: 42%;
  cursor: pointer;
}
div.right{
  right: 0px;
}
div.left{
  left: 0px;
}
