/* PAGE PRESENTATION */

html{
  font-family: Verdana;
}

body{
  margin:0px;
  height:100%;
  background-color: white;
}

header{
  text-align: center;
  margin: auto;
  max-width: 500px;
  height: auto;
}

header.HyperHeader img{ /*responsive*/
  box-sizing: content-box;
  width: 100%;
  max-width: 500px;
  margin-top:50px;
  margin-bottom:50px;
  height:auto; /*scale conserve*/
}

.slideShowHomePageContainer{
  width: 100%;
  max-width: 500px;
  margin: auto;
}

footer{
  position:relative;
  text-align: center;
  background-color: #f2f2f2;
  margin-top: 20px;
  bottom:0px;
  width:100%;
  box-shadow: 0px 0px 5px 0px grey;
  padding: 20px 0px 20px 0px;
}




/* SEARCH BAR */

input{
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}

input.searchBarMainPage{
  width: 500px;
  max-width: 100%;
}

input.button{
  cursor:pointer;
}

#searchForm{
  text-align: center;
  padding: 30px;
}



/* NAV BAR */

#navBar{
  position: -webkit-sticky;
  top: 0;
  position: sticky;
  width: 100%;
  background-color: inherit;
  text-align: center;
  padding: 1em 0px 1em 0px;
  box-shadow: 0px 5px 80px 0px white;
}


nav a{
  text-decoration: none;
  color: black;
}
nav li{
  font-size: 1em;
  display: inline;
  box-shadow: 0px 0px 5px 0px grey;
  list-style: none;
  padding:0.5em;
  background-color: #f2f2f2;
  transition: border-radius 0.5s,background-color 0.5s;
  margin:0.5em;
}

nav li.navButtonHP{
  font-size: 1.5em;
  box-shadow: 0px 0px 5px 0px grey;
  list-style: none;
  padding:0.5em;
  background-color: #f2f2f2;
  transition: border-radius 0.5s,background-color 0.5s;
}
nav li:hover{
  cursor: pointer;
  background-color: white;
  border-radius: 2em;
}


/* slideshow*/



section{
  margin: auto;
  height: 600px;
}




@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  nav li.navButtonHP{
    display: block;
  }
}
