/* PAGE PRESENTATION */

html{
  font-family: Verdana;
}

body{
  margin:0px;
  height:100%;
}

img{ /*responsive*/
  max-width: 100%;
  height:10em; /*scale conserve*/
}

header{
  text-align: center;
}

footer{
  position:relative;
  text-align: center;
  background-color: #f2f2f2;
  margin-top: 20px;
  bottom:0px;
  width:100%;
  box-shadow: 0px 0px 5px 0px grey;
  padding: 20px;
}

/* LOG IN */

#logIn{
  position:fixed;
  width: 220px;
  right: 0%;
  top: 0%;
  text-align: center;
  box-shadow: 0px 0px 5px 0px grey;
  border-radius: 0px 0px 0px 10px;
  background-color: #f2f2f2;
}

#logInHeader{
  box-sizing: content-box;
  font-size: 1em;
  padding: 10px 10px 10px 10px;
}

#logInContainer{
  box-sizing: content-box;
  display:none;
  margin:auto;
}

#logIn:hover #logInContainer {
  display: block;
}

/* SEARCH BAR */

input{
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}

input.button{
  cursor:pointer;
}

#searchForm{
  text-align: center;
  padding: 30px;
}

/* NAV BAR */

#navBar{
  position: -webkit-sticky;
  top: 0;
  position: sticky;
  width: 100%;
  background-color: inherit;
  text-align: center;
  padding: 1em;
}
nav li{
  font-size: 1.5em;
  display: inline;
  border: 2px solid black;
  list-style: none;
  padding:0.5em;
  background-color: lightgrey;
  transition: border-radius 0.5s 0.5s,background-color 0.1s;
}
nav li:hover{
  cursor: pointer;
  background-color: white;
  border-radius: 2em;
}
div.bigSlideshow{
}
div.bigSlideshow div.imageContainer{
  height: 50px;
  width: 100px;
  background-color: red;
  overflow: hidden;
}
div.imageContainer:hover{
  border: 2px solid black;
}
