/* PAGE PRESENTATION */

aside#mediaPageRightSide,aside#mediaPageLeftSide{
  text-align: center;
  width:10%;
  min-width:200px;
}
aside#mediaPageLeftSide{
  float: left;
  width: 15%;
  margin-right:10px;
  margin-left:10px;
}
aside#mediaPageRightSide{
  float: right;
  width: 15%;
  margin-left:10px;
  margin-right:10px;
  min-width: 300px;
}
article.mediaPageContent{
  border: 1px solid #f2f2f2;
  height:auto;
  overflow:hidden;
}



/* CENTER PRESENTATION */


p{
  text-align: justify;
  text-indent:2em;
  margin-top:0px;
  margin-bottom:0px;
}

.synopsisContainer{
  box-shadow:inset 0px 0px 5px 0px grey;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.expanded{
  margin: 10px;
}
#contentBlocksContainer{
  column-count: 1;
  column-gap: 0px;
  position:relative;
}
.contentBlockContainer{
  margin-left: 10px;
  margin-right: 10px;
}
.contentBlock{
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px 0px grey;
  -webkit-column-break-inside:avoid; /* Webkit */
  break-inside: avoid-column; /* Opera >= 11.5 */
  break-inside: avoid; /* CSS3 */
  width:100%;
  height: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.contentBlockHeader input{
 float: right;
 background-color: white;
}
.expandButton,.downsizeButton{
  float: left;
}
.downsizeButton{
  display: none;
}

.addMediasContainer{
  position: relative;
  display: inline-block;
  float: left;

}
.dropDownContainer{
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 40px;
  margin-left: 5px;
  display: none;
  opacity: 0.8;
}
.dropDownContent{
  min-width: 100%;
  min-height: 50px;
  display: inline-block;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropDownContent input{
  float: left;
}
.addURLBox{
}
.addMediasContainer:hover .dropDownContainer{
  display:block;
}
.addLocalMediaButton{
  display: none;
}
.contentContainer h4{
  cursor: move;
  user-select: none;
  margin:0px;
  padding-top: 1em;
  padding-bottom: 1em;
}
#tweetContainer{
  padding: 5px;
}
#postersContainer{
  width: auto;
}
.contentContainer{
  padding:5px;
  min-height:100px;
}
.contentBlockArticle{
  padding: 20px;
}

.faceContainer{
  width: 50%;
  height: auto;
  text-align: center;
  margin: auto;
}
.faceContainer img{
  width: 200px;
  height: auto;
  border-radius: 100px;
}
.faceContainer p{
  overflow: hidden;
  margin:auto;
  text-align: center;
}

#trailersBlock{
  display:none;
}
.asideBlockContainer{
  background-color: #f2f2f2;
  padding: 1em;
  margin-top: 1em;
  margin-bottom:1em;
  border-radius: 20px;
  box-shadow: 0px 0px 5px grey;
}
#mediaPresenterBlock{
  margin-top: 0em;
}
#fanbaseBlock{
  margin-top: 0em;
}
h3{
  font-size: 1em;
  text-shadow: 2px 2px 5px grey;
  text-align: center;
}
h4{
  font-size: 1em;
  text-shadow: 2px 2px 5px grey;
  text-align: center;
  font-weight: bold;
}
h5{
  font-size: 1em;
}
div.asideBlockContainer h2{
  margin-top: 0px;
}
aside p,aside li{
  text-align: left;
}
aside ul{
  list-style-type: none;
}
.relatedWorkContainer{
  display: inline;
}
.relatedWorkMedia{
  max-width: 100%;
  max-height: 100%;
}
#mediaInfosContent p{
  font-weight: bold;
}

img#mediaImage{
  width: 100%;
  max-width:300px;
  border-radius: 20px;
  object-fit: contain;
  margin: auto;
}


.shootingLocationMap {
  color:white;
  background-color: black;
  width:100%;
  height:200px;
  box-sizing: content-box;
  display: none;
}



div.filterBlockAside{
}
.filterBlockAside input{
  display: block;
}

input.filterPostsButton{
  display: inline;
  background-color: white;
}

input.checkAllButton{
  display: inline;
  background-color: white;
}

div.slideshow div.mediaContainer{
  background-color: inherit;
}
/* Style for blocks being dragged */
.contentBlockFixedDragged{
  opacity: 0;
}
.contentBlockFixedContainerDragged{
  border: 2px dashed grey;
  pointer-events:none;
}

.contentBlockContainerDragged{
  position: absolute;
  z-index: 9;
  pointer-events:none;
  opacity:0.5;
}
.contentBlockDragged{
  background-color: white;
}
#lastBlock{
  opacity: 0;
  height: 15px;
}

/*Side bar*/
@media only screen and (max-width: 768px){
  #mediaPageLeftSide {display: none;}
  #mediaPageRightSide {display: none;}
  #mediaPagesideNav{display: block;}
  header{display: none;}
  input.expandButton{display: none;}
  #contentBlocksContainer{column-count: 1;}
}
@media only screen and (min-width: 768px){
  #mediaPagesideNav{display: none;}
}
/* SIDE NAVIGATION BAR WHEN ON MOBILE*/
.sideNav{
  position: fixed; /* Stays in place */
  top: 0; /* Stays at the top*/
  left: 0;
  z-index: 1;
  max-width: 100%;
}
#sideNavButton{
  float:right;
  background-color: white;
}
#mediaPagesideNav{
  height: 100%;
}
#sideNavContent{
  background-color: #303030;
  height: 100%; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  overflow:visible;
  transition: 0.5s;
}
.sideNavBlockContainer{
  transition: 0.5s;
  background-color: #444444;
  box-shadow: inset 0px 0px 20px 10px #303030;
  width:  100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#sideNavMediaImgContainer{
  max-width:100%;
}
#navSideMediaImage{
  width: auto;
  max-height: 150px;
  width:250px;
  object-fit: contain;
  margin: auto;
  border-radius: 20px;
  padding-top: 5px;
}
#sideNavContent a{
  background-color: inherit;
  text-decoration: none;
  color: white;
}
#sideNavFilterBlocks{
  position: relative;
  text-align: left;
}
.sideNavBlockContainer h3{
  display: block;
  width:250px;
}
.sideNavBlockContainer h3:hover{
}
#mediaPagesideNav{
  color: #f2f2f2;
}
