/*.dropper {
    margin: 50px 10px 10px 50px;
    width: 400px;
    height: 250px;
    background-color: #555;
    border: 1px solid #111;

    border-radius: 10px;
    transition: all 200ms linear;
}

.drop_hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

.draggable {
    display: inline-block;
    margin: 20px 10px 10px 20px;
    padding-top: 20px;
    width: 80px;
    height: 60px;
    color: #3D110F;
    background-color: #822520;
    border: 4px solid #3D110F;
    text-align: center;
    font-size: 2em;
    cursor: move;

    transition: all 200ms linear;
    user-select: none;
}
*/



/* INFOS PERSOS */
#profileLeftSide{
  background-color: #f2f2f2;
  text-align: center;

  width: 15%;

  padding: 1%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px grey;
  left:1%;
  position: absolute;
}

h3{
  font-size: 1em;
  text-shadow: 2px 2px 5px grey;
}

#persoInfosContent{
  text-align: left;
}

#persoInfosContent p{
  font-weight: bold;
}
#persoInfosContent p output{
  font-weight: normal;
}
#profilePicContainer{
  position: relative;
  max-width: inherit;
  max-height: inherit;
  margin: auto;
  text-align: center;
}

#modifyPic{
  display: none;
}
.profilePicContainer:hover #niceButtonChangePic{
  opacity:0.8;
}
#niceButtonChangePic{
  display: none;
  position: absolute;
  background: white;
  border: none;
  opacity: 0;
  transition: opacity 0.5s;
}
img#profilePicture{
  width: 100%;
  max-width:200px;
  border-radius: 10%;
  display: none;
  object-fit: contain;
  margin: auto;
}

#persoInfosModif{
  display:none;
}

.genderToShow{
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  padding:2px 6px 4px 6px;
  box-shadow: inset 0px 0px 2px 0px grey;
}
.genderToShow[for=male]{
  color:blue;
}
.genderToShow[for=female]{
  color:magenta;
}

#locationMap {
  color:white;
  display: none;
  background-color: black;
  width:100%;
  height:200px;
  box-sizing: content-box;
}









div.profileRightSide{
  background-color: #f2f2f2;
  text-align: center;

  width: 70%;
  /*margin: 2em;*/
  padding: 1%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px grey;
  left:25%;

  position:absolute;
}









#onglets{
  position : absolute;
  border : 1px solid transparent;
  padding : 0;
  font : bold 1em Batang, arial;
  list-style-type : none;
  /*padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
  /*border-bottom : 1px solid #9EA0A1;*/
  /*margin-left : 25%;*/
  left : 50%;
  margin-top : 0%;
  width : 80%;
  height:2%;
  margin-left : -20%; /* la moitié de width */
  /*border-bottom : 1px solid #9EA0A1;
  padding-bottom : 25px;*/
}


#onglets button{
  float : left;
  height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
  background-color: #F4F9FD;
  margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
  margin : 1px 2px 0 2px;  /* Pour IE  */
  border : 1px solid #9EA0A1;
  display : block;
  color : #666;
  text-decoration : none;
  /*padding : 4px;*/
}

#onglets button.active{
  border-bottom: 1px solid #fff;
  background-color: #fff;
}



#onglets button:hover{
  background : #fff;
}

#menu{
  /*position : relative;*/
  border-bottom : 1px solid #9EA0A1;
  padding-bottom : 3%;
  margin-left: 15%;
  width:80%;

}

.drop_hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

article{
  left:20%;
  top:20%;

}

section{
  width: 20%;
  border:solid;
}
video{
  width:100%;
}
div.trailer{

  left:15%;
  position:relative;
}
div.secondOnglet{
  display:none;
}
