/*.dropper {
    margin: 50px 10px 10px 50px;
    width: 400px;
    height: 250px;
    background-color: #555;
    border: 1px solid #111;

    border-radius: 10px;
    transition: all 200ms linear;
}

.drop_hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

.draggable {
    display: inline-block;
    margin: 20px 10px 10px 20px;
    padding-top: 20px;
    width: 80px;
    height: 60px;
    color: #3D110F;
    background-color: #822520;
    border: 4px solid #3D110F;
    text-align: center;
    font-size: 2em;
    cursor: move;

    transition: all 200ms linear;
    user-select: none;
}
*/



/* INFOS PERSOS */
#profileLeftSide{
  background-color: #f2f2f2;
  text-align: center;
  width: 15%;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px grey;
  left:1%;
  float: left;
  margin-left : 20px;
  margin-right : 20px;
  margin-top: 4px;
}

h3{
  font-size: 1em;
  text-shadow: 2px 2px 5px grey;
}

#persoInfosContent{
  text-align: left;
}

#persoInfosContent p{
  font-weight: bold;
}
#persoInfosContent p output{
  font-weight: normal;
}
#profilePicContainer{
  position: relative;
  max-width: inherit;
  max-height: inherit;
  margin: auto;
  text-align: center;
}

#modifyPic{
  display: none;
}
.profilePicContainer:hover #niceButtonChangePic{
  opacity:0.8;
}
#niceButtonChangePic{
  display: none;
  position: absolute;
  background: white;
  border: none;
  opacity: 0;
  transition: opacity 0.5s;
}
img#profilePicture{
  width: 100%;
  max-width:200px;
  border-radius: 10%;
  display: none;
  object-fit: contain;
  margin: auto;
}

#persoInfosModif{
  display:none;
}

.genderToShow{
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  padding:2px 6px 4px 6px;
  box-shadow: inset 0px 0px 2px 0px grey;
}
.genderToShow[for=male]{
  color:blue;
}
.genderToShow[for=female]{
  color:magenta;
}

#locationMap {
  color:white;
  display: none;
  background-color: black;
  width:100%;
  height:200px;
  box-sizing: content-box;
}





/* RIGHT SIDE */

div.profileRightSide{
  overflow:hidden;
  height: auto;

  margin-right: 20px;
}



/* TABS (ONGLETS) MENU */

#menu{
  height: 40px;
  display: table;
  margin-top: 4px;
  margin-left: 5px;
  margin-right:5px;
}

.tab{
  display: inline-block;
  height: 100%;
  padding:9px 15px;
  border-radius: 20px 20px 0px 0px;
  background-color: #c1c1c1;
  box-shadow: 0px -2px 2px grey, inset 0px -4px 10px grey;
  margin-right: 5px;
  transition: box-shadow 1s;
  cursor: pointer;
}
.tab:hover{
  background-color: white;
  box-shadow: 0px -2px 2px grey, inset 0px 0px 20px black;
}
.tab.active{
  display: inline-block;
  height: 100%;
  padding:9px 15px;
  border-radius: 20px 20px 0px 0px;
  background-color: #f2f2f2;
  box-shadow: 0px -2px 2px grey;
  margin-right: 5px;
}

/* CONTENT IN TABS (ONGLETS) */

article.tabContent{
  background-color: #f2f2f2;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 0px 10px 10px 10px;
  overflow: hidden;
}
.ongletContent{
  overflow:hidden;
}


.drop_hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

h1{
  text-shadow: 3px 3px 1px lightBlue;
}


/*content*/
section{
  width: 100%;
  height : 25%;
  /*border:solid;*/
  box-sizing: border-box;
  display: inline-block;
  text-align: center;

}
video{
  width:100%;
}
div.trailer{
  border : solid;
  /*margin : 1%;*/
}

p.articleExtract{
  font-style: italic;
}
a.articleExtract{
  text-decoration: none;
}

h2{
  text-align: center;
}

img{
  width:50%;
}
div.news{
  border:solid;

  display: inline-block;
}

div.news img{
  float: left;

}
div.news p{
  float: right;

}

div.Suggestions{
    text-align: center;
    box-sizing: content-box;
    border:solid;
    border-radius:3%;
    margin:1%;
}
div.FollowedPages{
  text-align : center;
  border:solid;
  border-radius: 3%;
  margin:1%;
}


div.contrib{
  width:25%;
  border: solid;
  float:left;
  margin:1%;
}

.firstOnglet .fanArt{
  display:none;
}
.firstOnglet .official{
  display:"inline";
}

.onglet2Fan{
  display:none;
}
.onglet3Fan{
  display:none;
}
.onglet3Official{
  display:inline;
}
.onglet2Official{
  display:inline;
}

.slideshowContainer{
  max-width: 700px;
  margin:auto;
}
