header{
  top:0px;
  position: sticky;
}


#headerProfile{
    max-width: 75%;
    height:2em;
}

#searchFormTop{
  text-align: right;
  padding: 0.5em ;
  float: right;
}

#searchTittleTop{
  display: inline;
  width:60%;
  margin: auto;
}

#navButtonsTop{
  display:inline;
  width:10%;
  height:10%;
  background-color: inherit;
  text-align: center;
  box-shadow: 0px 5px 80px 0px white;
  font-size : 80%;
}
header nav li {
  float: left;
}

/* LOG IN */

#logIn{
  position:fixed;
  width: 220px;
  right: 0%;
  top: 0%;
  text-align: center;
  box-shadow: 0px 0px 5px 0px grey;
  border-radius: 0px 0px 0px 10px;
  background-color: #f2f2f2;
  overflow: hidden;
}

#logInHeader{
  box-sizing: content-box;
  font-size: 1em;
  padding: 10px 10px 10px 10px;
}

#logInContainer{
  box-sizing: content-box;
  margin:auto;
  height:0px;
  transition:none;
}

#logIn:hover #logInContainer {
  height:auto;
}


nav a{
  text-decoration: none;
  color: black;
}
nav li{
  font-size: 1em;
  display: inline;
  box-shadow: 0px 0px 5px 0px grey;
  list-style: none;
  padding:0.5em;
  background-color: #f2f2f2;
  transition: border-radius 0.5s,background-color 0.5s;
  margin:0.5em;
}

nav li.navButtonHP{
  font-size: 1.5em;
  display: inline;
  box-shadow: 0px 0px 5px 0px grey;
  list-style: none;
  padding:0.5em;
  background-color: #f2f2f2;
  transition: border-radius 0.5s,background-color 0.5s;
}
nav li:hover{
  cursor: pointer;
  background-color: white;
  border-radius: 2em;
}
