/* PAGE PRESENTATION */

html{
  font-family: Verdana;
}

body{
  margin:0px;
  height:100%;
  background-color: white;
}

div.global{
  position: relative;
  height: 100%;
}

footer{
  text-align: center;
  background-color: #f2f2f2;
  margin-top: 20px;
  height: 100%;
  bottom:0px;
  width:100%;
  box-shadow: 0px 0px 5px 0px grey;
  padding: 20px 0px 20px 0px;
  clear:both;
  overflow: hidden;
}




header{
  position: sticky;
  top:0px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 5px 0px grey, inset 0px 5px 40px -10px grey ;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  z-index: 1;
}
header#navTopBar{
  border: 1px black solid;
  display: inline;
}
.HyperImageContainer{
  float: left;
  padding: 8px 10px 9px 10px;
}
#HyperImage{
  height: 30px;
}
nav a{
  box-sizing: content-box;
}
.navButtonTop{
  display: inline-block;
  height: auto;
  text-align: center;
  padding: 16px 8px;
  transition: box-shadow 1s;
}
.navButtonTop:hover{
  background-color: white;
  box-shadow: inset 0px 5px 40px -10px #000000;
}
#searchFormTop{
  display: inline-block;
  margin-left: 20px;
}
#searchBar{
  margin: 0px;
  padding: 5px;
}










/* LOG IN */

#logInHeader{
  display: inline-block;
  float: right;
  padding: 16px;
  border-left: 1px solid grey;
  transition: box-shadow 1s;
}

.logInAllContainer{
  position: fixed;
  right: 0px;
  float: right;
  box-sizing: content-box;
  margin:auto;
  display: none;
  text-align:center;
  padding: 10px;
  border-bottom-left-radius: 10px;
  top: 51px;
  box-shadow: inset 0px 3px 5px -2px grey, 0px 3px 5px 0px grey;
}

#logInHeader:hover .logInAllContainer{
  display: block;
  background-color: #f2f2f2;
}

#logInHeader:hover{
  background-color: white;
  box-shadow: inset 0px 5px 40px -10px #000000;
}

#connexionContainer{
  display: block;
}

#createAccountContainer{
  display: none;
}

#userActionsContainer{
  display: none;
}

#HyperImage{
  width: auto;
}










input{
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}

input[type=button]{
  cursor:pointer;
}

[type="checkbox"]:not(:checked),[type="checkbox"]:checked{
  position: relative;
  margin:5px;
  padding-left: 25px;
  cursor: pointer;
  top: 4px;
  width: 20px;
  height: 20px;
  background: #f8f8f8;
}

[type="radio"]:not(:checked),[type="radio"]:checked{
  position: relative;
  margin:5px;
  padding-left: 25px;
  cursor: pointer;
  top: 4px;
  width: 20px;
  height: 20px;
  background: #f8f8f8;
}














nav a{
  text-decoration: none;
  color: black;
}
nav li{
  font-size: 1em;
  display: inline;
  box-shadow: 0px 0px 5px 0px grey;
  list-style: none;
  padding:0.5em;
  background-color: #f2f2f2;
  transition: border-radius 0.5s,background-color 0.5s;
  margin:0.5em;
}

nav li.navButtonHP{
  font-size: 1.5em;
  display: inline;
  box-shadow: 0px 0px 5px 0px grey;
  list-style: none;
  padding:0.5em;
  background-color: #f2f2f2;
  transition: border-radius 0.5s,background-color 0.5s;
}
nav li:hover{
  cursor: pointer;
  background-color: white;
  border-radius: 2em;
}
div.secondOnglet{
  display:none;
}
div.thirdOnglet{
  display:none;
}
div.fourthOnglet{
  display:none;
}
