/* PAGE PRESENTATION */

html{
  font-family: Verdana;
}

body{
  margin:0px;
  height:100%;
  background-color: white;
}

footer{
  position:relative;
  text-align: center;
  background-color: #f2f2f2;
  margin-top: 20px;
  bottom:0px;
  width:100%;
  box-shadow: 0px 0px 5px 0px grey;
  padding: 20px 0px 20px 0px;
}



header{
  top:0px;
  position: sticky;
  display: inline;
  height: 1em;
}

#searchTittleTop{
  display: inline;
  height: inherit;
}
.HomePageLink{
  text-decoration: none;
}
#HyperImage{
    display: inline;
    max-width: 75%;
    height: 2em;

}

#searchFormTop{
  text-align: right;
  display: inline;
  margin-left: auto;
}

input{
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}

input.button{
  cursor:pointer;
}



#navButtonsTop{
  display:inline;
  width:10%;
  height:inherit;
  background-color: inherit;
  text-align: center;
  box-shadow: 0px 5px 80px 0px white;
  font-size : 80%;
}
header nav li {
}

/* LOG IN */

#logIn{
  position:fixed;
  width: 220px;
  right: 0%;
  top: 0%;
  text-align: center;
  box-shadow: 0px 0px 5px 0px grey;
  border-radius: 0px 0px 0px 10px;
  background-color: #f2f2f2;
  overflow: hidden;
}

#logInHeader{
  box-sizing: content-box;
  font-size: 1em;
  padding: 10px 10px 10px 10px;
}

.logInAllContainer{
  display: none;
  box-sizing: content-box;
  margin:auto;
  overflow:hidden;
}

#logIn:hover .logInAllContainer{
  display: block;
}

#connexionContainer{
  display: block;
}

#createAccountContainer{
  display: none;
}

#userActionsContainer{
  display: none;
}






nav a{
  text-decoration: none;
  color: black;
}
nav li{
  font-size: 1em;
  display: inline;
  box-shadow: 0px 0px 5px 0px grey;
  list-style: none;
  padding:0.5em;
  background-color: #f2f2f2;
  transition: border-radius 0.5s,background-color 0.5s;
  margin:0.5em;
}

nav li.navButtonHP{
  font-size: 1.5em;
  display: inline;
  box-shadow: 0px 0px 5px 0px grey;
  list-style: none;
  padding:0.5em;
  background-color: #f2f2f2;
  transition: border-radius 0.5s,background-color 0.5s;
}
nav li:hover{
  cursor: pointer;
  background-color: white;
  border-radius: 2em;
}
